<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Log in</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 col-md-offset-3">
            <h1>Login page </h1>
            <form method="POST" th:action="@{/login}">
                <span>
                    <label style="padding-left: 30%; color: red; align-content: center;" th:if="${error}" th:text="${error}"/>
                    <label style="padding-left: 30%; color: red; align-content: center;" th:if="${message}" th:text="${message}"/>
                </span>
                <div class="form-group ${error != null ? 'has-error' : ''}">
                    <br/>
                    <label for="username">Username</label>:
                    <input type="text"
                           id="username" name="username" class="form-control" required
                           autofocus="autofocus" placeholder="Username"/>
                </div>
                <div class="form-group  ${error != null ? 'has-error' : ''}">
                    <label for="password">Password</label>:
                    <input type="password"
                           id="password" name="password" class="form-control" required
                           placeholder="Password"/>
                </div>


                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" name="login-submit" id="login-submit"
                                   class="form-control btn btn-primary" value="Log In"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
						<span>New user? <a th:href="@{/signup}">Register
								here</a></span>
                </div>
                <div class="form-group">
						<span id="showMore"> To see Swagger and Actuator? <a href="#">Click
								here</a></span>
                </div>
            </form>
        </div>
    </div>

    <div class="row" id="showHide">
        <div class="col-md-3"></div>
        <div class="col-md-6 col-md-offset-3">
            <ul>
                <li>Click here <a href="/swagger-ui.html" th:href="@{/swagger-ui.html}"> Swagger </a> to show Swagger
                    Implementation
                </li>
            </ul>
            <!--<ul>
                <li>Click here <a href="/browser/index.html#/actuator" th:href="@{/browser/index.html#/actuator}">
                    Actuator </a> to show Actuator
                    Implementation
                </li>
            </ul>-->

        </div>
    </div>
</div>


</body>
</html>
